body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    margin: 0;
    background-image: url("imgpoly.jpg"); 
    background-size: 100%; 
}

.container {
    text-align: center;
}

#canvas-container {
    margin-top: 20px;
}

label, input, button {
    font-size: 20px; /* Adjust the font size as needed */
}

input {
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

canvas {
    width: 1200px; /* Adjust canvas width if needed */
    height: 450px; /* Adjust canvas height if needed */
}

h1{
    font-size: 30px;
    color: black;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
